.container-timer{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 91, 86);
    transition: background-color 0.5s ease-in-out 0s;
}

.timerContainer{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.reportButtonContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 4rem;
    margin-top: 3rem;
    min-height: 32px;
}

.timerMain{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5%;
}

.timerControlButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.timerCountdown{
    height: fit-content;
    width: fit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timerEstimated{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timerCenter{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 25rem;
    justify-content: space-around;
    padding-top: 2rem;
}

.startButton{
    background-color: white;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: rgb(240, 91, 86);
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    width: 200px;
    font-weight: bold;
    transition: color 0.5s ease-in-out 0s;
}

.time {
    font-size: 9rem;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
  }