@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.componentContainer{
    height: 9rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    border-radius: 8%;
    background-color: #FFE68E;
}

.componentContainerTop{
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.componentContainerTopIcon{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.componentContainerTopLabel{
    font-size:5rem;
    font-weight: 600;
    color: #003E73;
    outline: black;
}

.componentContainerBottom{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componentContainerBottomLabel{
    font-family: Roboto;
    font-weight: 500;
}

.bar{
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2.5rem;
}

.barInnerContainer{
    width: 60rem;
    height: fit-content;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
}

.focusHourBar{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.focusHourFont{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: #003E73;
    text-decoration: underline;
}